@{
    ViewBag.Title = "About";
}
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("getCompany", "Home", new { area = string.Empty })",
            dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            for (var i = 0 ; i < data.length; i++)
            {
                $('#pn_mainprofile').append(
                '<div class="box box-primary color-palette-box">'
                + '  <div class="box-header with-border">'
                + '      <h3 class="box-title"><i class="fa fa-briefcase"></i> ' + data[i].ProfileHeader + '</h3>'
                + '  </div>'
                + '  <div class="box-body">'
                + data[i].ProfileBody
                + '  </div>'
                + '</div>');
            }
        } //success
    });
    });

</script>
<section class="content-header">
    <h1>
        เกี่ยวกับ Fairy Group
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = string.Empty })"><i class="fa fa-dashboard"></i> หน้าแรก</a></li>

        <li class="active">เกี่ยวกับ Fairy Group</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-9" id="pn_mainprofile">
          
        </div>
        <div class="col-md-3">
            <div class="box box-primary color-palette-box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-bullhorn"></i> ประกาศ</h3>
                </div>
                <div class="box-body">
                    <div class="row">

                    </div><!-- /.row -->
                </div><!-- /.box-body -->
            </div>
            <div class="box box-primary color-palette-box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-tag"></i> บล็อก</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                    </div><!-- /.row -->
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
</section>


