@{
    ViewBag.Title = "About";
}
<section class="content-header">
    <h1>
        เกี่ยวกับ Fairy Group
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = string.Empty })"><i class="fa fa-dashboard"></i> หน้าแรก</a></li>

        <li class="active">เกี่ยวกับ Fairy Group</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="box box-primary color-palette-box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-briefcase"></i> Fairy Group (Thailand) Co., Ltd.</h3>
                </div>
                <div class="box-body">
                    <div class="thumbnail">
                        <img src="~/Images/Company.jpg" class="img-responsive">
                        <div class="caption">
                            @*<h3>Fairy Group (Thailand) Co., Ltd.</h3>*@
                            <p>
                               บริษัท แฟรี่ กรุ๊ป จำกัด ก่อตั้งขึ้นเมื่อปี 2558

เป็นบริษัทที่ดำเนินงานเกี่ยวกับอสังหาริมทรัพย์ทุกประเภท โดยรับซื้อ รับฝากขาย และเช่า ที่ดิน, คอนโด, บ้าน, ทาวเฮ้าส์, โฮมออฟฟิศ, อาคารพาณิชย์, อพาร์ทเมนท์, โรงแรม, รีสอร์ต และ อื่น ๆทั่วประเทศ พร้อมข้อมูลอย่างละเอียดครบถ้วนสำหรับผู้สนใจซื้อและเช่า ผู้ใช้งานสามารถค้นหาอสังหาริมทรัพย์ที่สนใจซื้อและเช่าในเว็บไซต์ www. fairygroup .co.th ได้  และในขณะเดียวกันผู้ใช้งานสามารถลงประกาศขายและประกาศให้เช่าอสังหาริมทรัพย์ในเว็บไซต์ของทางบริษัทได้เช่นกัน

           ประเภทอสังหาริมทรัพย์ที่ทางบริษัทได้ดำเดินการได้ครอบคลุมถึงโครงการคอนโดมิเนียมเปิดใหม่,โครงการบ้านเปิดใหม่,โครงการทาวเฮ้าส์เปิดใหม่,โครงการโฮมออฟฟิศ(homeoffice)เปิดใหม่,โครงการร้านค้าเชิงพาณิชย์เปิดใหม่ที่ต้องการประกาศขาย,โรงแรม,รีสอร์ต,เซอร์วิสอพาร์ทเมนท์(service apartment),อพาร์ทเมนท์ที่ให้เช่าเป็นรายวัน,รายสัปดาห์,รายเดือนและรายปี คลังสินค้าและโรงงานจากผู้พัฒนาอสังหาริมทรัพย์โดยตรง อีกทั้งยังรวมถึงอสังหาริมทรัพย์มือสองและราคาถูกที่ต้องการขายและใหเช่า อาทิเช่น คอนโด,บ้าน,ทาวเฮ้าส์,โฮมออฟฟิศ ,ร้านค้าและอาคารพาณิชย์,อพาร์ทเมนท์,โรงแรม,รีสอร์ต,ที่ดินและที่ดินเกษตรกรรม,คลังสินค้า,โรงงาน,ทรัพย์ธนาคาร,สนามกอล์ฟและทรัพย์สินอื่นๆที่ต้องการขายและต้องการเช่าจากทั้งเจ้าของทรัพย์สินโดยตรงและนายหน้าอสังหาริมทรัพย์

         ผู้ใช้งานสามารถค้นหาทรัพย์สินตามความต้องการเฉพาะด้านของตัวเองอย่างง่ายดาย โดยผ่านฟังก์ชั่น(functions)และหมวดหมู่ที่จัดแบ่งได้ในเว็บไซต์ www.fairygroup.co.th
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-primary color-palette-box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-tag"></i> Blog</h3>
                </div>
                <div class="box-body">
                    <div class="row">

                    </div><!-- /.row -->
                </div><!-- /.box-body -->
            </div>
            <div class="box box-primary color-palette-box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-tag"></i> อื่นๆ</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                    </div><!-- /.row -->
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
</section>


