
@{
    ViewBag.Title = "Regist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        สมัครสมาชิก
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = string.Empty })"><i class="fa fa-dashboard"></i> หน้าแรก</a></li>

        <li class="active">สมัครสมาชิก</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="box box-primary color-palette-box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-user-plus"></i> สมัครสมาชิก</h3>
                </div>
                <div class="box-body">
                    <form role="form">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Confirm Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm  Password">
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-primary color-palette-box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-bullhorn"></i> ประกาศ</h3>
                </div>
                <div class="box-body">
                    <div class="row">

                    </div><!-- /.row -->
                </div><!-- /.box-body -->
            </div>
            <div class="box box-primary color-palette-box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-tag"></i> บล็อก</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                    </div><!-- /.row -->
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

